<!doctype html>
<html lang="en">
    <head>

        <!-- Webpage Title -->
        <title>회원가입</title>

        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bulma CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
        <!-- JS -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>

        <script>
            function checkEmail() {

            }

            function sign_up() {
                $.ajax({
                    type: "POST",
                    url: "/join",
                    data: {
                        username_give: $('#username').val(),
                        email_give: $('#email').val(),
                        password_give: $('#password').val(),
                        checkpw_give: $('#checkpw').val(),
                    },
                    success: function (response) {
                        if (response['result'] == 'success') {
                            alert('회원가입이 완료되었습니다.')
                            window.location.href = '/login'
                        } else {
                            alert(response['msg'])
                        }
                    }
                })
            }

        </script>
    </head>
    <body>
        <div class="section has-text-centered">
            <h1 class="title">회원가입</h1>
            <div class="container" style="width:60%">
                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label" for="username">이름</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <div class="control">
                                <input type="text" class="input" id="username" placeholder="이름을 입력하세요." required>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label" for="email">email</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <div class="control">
                                <input type="email" class="input" id="email" aria-describedby="emailHelp"
                                       pattern=".+@globex\.com" size="30" required
                                       placeholder="email을 입력하세요.">
                            </div>
                        </div>
                    </div>
                    <button onclick="checkEmail()">중복확인</button>
                </div>
                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label" for="password">비밀번호</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <div class="control">
                                <input type="password" class="input" id="password" placeholder="비밀번호를 입력하세요." required>
                            </div>
                        </div>
                    </div>
                </div>
                 <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label" for="checkpw">비밀번호 확인</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <div class="control">
                                <input type="password" class="input" id="checkpw" placeholder="비밀번호를 확인해주세요" required>
                            </div>
                        </div>
                    </div>
                </div>
                <button class="button is-primary" onclick="sign_up()">회원가입</button>
            </div>
        </div>
    </body>
</html>